@import "common/styles/mixins.scss";

.carousel {
  
  padding: 0;

  .item {

    transform-style: preserve-3d;
  }

  .carousel-caption {

    // Center
    padding: 0;
    margin: 8% 0 0 -2%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    font-size: 25vw;
    font-weight: bold;
  }

  img {
    opacity: 0.75;
  }
}