.tout {
  
  text-align: center;

  .tout-container {
    background: rgba(0, 0, 0, 0.05);
    padding-top: 30px;
  }

  img {
    width: 90%;
  }

  .title {
    font-size: 6vw;
    padding: 1%;
  }

  button {
  }
}
