@mixin custom-gradient-background($color) {
  background:
  linear-gradient(
    $color,
    transparent
  ),
  linear-gradient(
    -45deg,
    lighten($color, 15%),
    transparent
  ),
  linear-gradient(
    45deg,
    darken($color, 25%),
    transparent
  );
  background-blend-mode: multiply;
}

%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%text-emboss {
  // text-shadow: 0px 1px 1px #878787;
  // text-shadow: 0px -2px 0px #333, 0px 2px 3px #666;
  text-shadow: 0px 2px 3px #424e65;
}