.header {
  
  height: 100px;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.5);

  .header-logo {

    height: 75%;
    text-align: left;

    .header-logo-image {
      width: 20rem;
    }

    .header-logo-title {

      height: 25%;
      margin-left: 46px;
      margin-top: -2px;

      h1 {
        margin: 0;
      }
    }
  }

  .header-menu {

    ul {
      float: right;
    }
  }
}