{% extends 'src/project/swig/layouts/_base.html' %}

{% block base %}

<article class="profile {{ classes }}">

  <div class="profile-container">
    
  {{ helpers.get_item('components/ui-image', image) }}
  {{ helpers.get_item('components/ui-text', title) }}
  {{ helpers.get_item('components/ui-text', subtitle) }}
  {{ helpers.get_item('components/ui-button', button) }}
  {{ helpers.get_item('components/ui-text', description) }}
  {{ helpers.get_item('components/ui-list', details) }}

  </div>

</article>

{% endblock %}