.profile {
  
  text-align: center;

  .title {
    font-size: 6vw;
    padding: 1%;
  }

  .profile-container {
    background: rgba(0, 0, 0, 0.05);
    padding-top: 30px;
  }

  &.first {
    .profile-container {
      // margin-left: $profile-padding;
    }
  }

  &.last {
    .profile-container {
      // margin-right: $profile-padding;
    }
  }

  img {
    width: 90%;
  }

  button {
    // margin: 5%;
  }
  
  p {
    padding: 5%;
    min-height: 200px;
  }
}
