{% macro get_item(slug, item) %}
  {% set partialpath = getPartialPath(slug, item) %}
  {% if not item %}
    {% include partialpath %}
  {% else %}
    {% set item = setDefaultsData(slug, item) %}
    {% if not item.classes %}
      {% set item.classes = "" %}
    {% endif %}
    {% if item.mixin.classes %}
      {% set item.classes += item.mixin.classes %}
    {% endif %}
    {% include partialpath with item only %}
  {% endif %}
{% endmacro %}

{% macro get_items(items) %}
  {% for item in items %}
    {% set item.length = loop.length %}
    {% set item.idx = loop.index0 %}
    {{ get_item(item.partial, item) }}
  {% endfor %}
{% endmacro %}

{% macro get_items_rows(items, classes, prefix) %}
  {% for item in items %}

    {% set item.length = loop.length %}
    {% set item.index = loop.index0 %}

    <section class="row{% if loop.index0 % 2 == 0 %} even{% else %} odd{% endif %}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %} {{ classes }}">
    {% for i in item.items %}
      {% set i.mixin = {} %}
      {% set i.mixin.classes = "" %}
      {% set i.mixin.classes += " num-" %}
      {% set i.mixin.classes += loop.index %}
      {% set i.mixin.classes += " of-" %}
      {% set i.mixin.classes += loop.length %}
      {% set i.mixin.classes += " col-xs-" %}
      {% set i.mixin.classes += 12 / loop.length %}
      {% if loop.index0 % 2 == 0 %} 
        {% set i.mixin.classes += " odd" %}
      {% else %} 
        {% set i.mixin.classes += " even" %}
      {% endif %}
      {% if loop.first %} 
        {% set i.mixin.classes += " first" %}
      {% endif %}
      {% if loop.last && loop.length != 1 %} 
        {% set i.mixin.classes += " last" %}
      {% endif %}
    {% endfor %}
    {{ get_item(item.partial, item) }}
    </section>

  {% endfor %}
{% endmacro %}

{% macro get_items_list(items, classes, prefix) %}
  <ul class="{{ classes }}{% if prefix %} {{ prefix }}-{% endif %}list">
  {% for item in items %}
    {% set item.length = loop.length %}
    {% set item.idx = loop.index0 %}
    <li class="{% if prefix %}{{ prefix }}-{% endif %}list-item {% if loop.index0 % 2 == 0 %}even {% else %}odd {% endif %}{% if loop.first %}first {% endif %}{% if loop.last %}last {% endif %}">
    {{ get_item(item.partial, item) }}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro get_items_list_group(items) %}
  {% for item in items %}
    {% if loop.index0 % 2 == 0 %}
    <div class="group">
    {% endif %}
    {{ get_item(item.partial, item) }}
    {% if loop.index0 % 2 == 1 or loop.index0 == loop.length - 1 %}
    </div>
    {% endif %}
  {% endfor %}
{% endmacro %}